







/*framework overwrites*/

body {
    /*
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Droid Serif', serif;
        */
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 12pt;
}

.container {
    width: 95%;
    max-width: none;
}

footer.page-footer {
    padding-top: 0;
    background-color: unset;
}

.footer-copyright {
    background-color: #585858 !important;
    color: #fff;
}


p {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 12pt;
}

/*li:before {
    margin-top: 6.5pt;
    margin-right: 9px;
    vertical-align:central;
    content: url(../img/LIicon.png);
    white-space: pre; 
}*/


.customicon li {
    background: url(../img/LIicon.png) no-repeat left center;
    padding: 3px 0px 3px 13px;
    /* reset styles (optional): */
    list-style: none;
    margin: 0;
}

/*
li{
    background-image: url(../img/LIicon.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;
}
*/

nav {
    height: 32px;
    line-height: 32px;
    background-color: unset;
    color: #000000;
    box-shadow: unset;
}

    nav ul a {
        color: #000;
    }

    nav ul.left {
        margin-left: 22px;
    }

.collapsible {
    box-shadow: unset;
    border: none;
}

.collapsible-body {
    border: none;
}

.collapsible-header {
    border: none;
}


.material-icons {
    font-size: 20px;
}

nav ul li.active {
    background-color: #fff;
    border-bottom: 3px solid #374e9d;
}

nav ul li.active a:hover {
    background-color: #fff;
}

nav ul a:hover {
    background-color: none;
}

nav ul li:not(.active):hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    transition: border-bottom 0.1s linear 0s;
}

#magasepitesHR {
    color: rgba(227,227,227,0.4);
    margin-bottom: 15px;
    margin-top: 45px;
}

#referenciak hr {
    color: #bcc3da;
    margin-top: 5px;
}





#bemutatkozas hr, #tervezes hr{
    /*color: #e7e7e7;
    height:2px;*/

   border: 0; 
   height: 2px; 
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #e7e7e7, rgba(0, 0, 0, 0));
}
.hrRow{
    margin-top: 45px;
    margin-bottom: 45px;
}


#referenciak .boxBGLight {
    padding-bottom: 35px;
    padding-top: 35px;
}



.slick-dots {
    bottom: 10px;
}


    .slick-dots li button::before {
        content: url("../img/whiteBox.png");
        opacity: 1;
    }


    .slick-dots li.slick-active button::before {
        content: url("../img/blueBox.png");
        opacity: 1;
    }


.slick-prev {
    left: 40px;
    z-index: 999;
}

    .slick-prev::before {
        content: url("../img/leftArrow.png");
        /*left: -10px;*/
        position: relative;
        /*top: -25px;*/
    }

.slick-next {
    right: 35px;
    z-index: 999;
}

    .slick-next::before {
        content: url("../img/rightArrow.png");
        /*right: 15px;*/
        position: relative;
        /*top: -25px;*/
    }

.slick-arrow {
    width: 39px;
    height: 39px;
}


/*custom declarations*/
.topicTitle {
    border: 1px solid;
    border-color: #374e9d;
    padding: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 18pt;
}

#navMainWrapper {
    background-color: #e2dfdf;
    margin-bottom: 0;
}

#hidEpitesSection {
    background-image: url('../img/hidepitesBG.png');
    box-shadow: 4px 0 10px #666 inset,0px 0 10px #666 inset;
    padding-top: 75px;
    padding-bottom: 75px;
    background-size: cover;
    background-repeat: no-repeat;
}

#tervezes-bottomIMG {
    width: 100%;
    height: auto;
}



/*fonts*/
.justify {
    text-align: justify;
}

.menuItem {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 12pt;
}

.headerText {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 12pt;
    padding: 0 !important;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 30pt;
}

    h1:after {
        display: block;
        margin-top: -25px;
        content: url(../img/blueLine.png);
        white-space: pre; /* or pre-wrap */
    }

.fontForNumbers {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12pt;
}

.normalText {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 12pt;
}

.referenciakText {
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 12pt;

    padding-bottom: 15px !important;
    padding-top: 15px !important;
}

.normalTextBold {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 12pt;
}

.biggerText {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16pt;
}

.biggerTextBold {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16pt;
}

.footerText {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 10pt;
}


.sectionTitleSmall {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 18pt;
    margin-top: 0px;
}

.kapcsolatSectionTitle {
    color: #374e9d;
}


.kapcsolatBox {
    background-color: #f5f5f5;
    padding: 25px;
}

.boxBGLight {
    background-color: #f5f5f5;
}

.noTopMargin {
    margin-top: 0 !important;
}
.noBottomMargin {
    margin-bottom: 0 !important;
}


.noSidePadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.noLeftPadding {
    padding-left: 0 !important;
}

.onePxBorder {
    border: 1px solid #c1c1c1;
    margin-bottom: 20px;
}

#siteLogo {
    width: 260px;
    height: auto;
}

#firstRow {
    margin-top: 20px;
}

.fullWidthImage {
    width: 100%;
}


.plusIcon {
    bottom: 0;
    height: 29px;
    left: 0;
    margin-bottom: auto;
    margin-left: 70px;
    margin-top: auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 29px;
}


.collapsible-header {
    position: relative;
    padding-bottom: 30px;
    padding-top: 30px;
}

.collapsible li {
    margin-bottom: 20px;
}





.darkBGRow {
    background-color: #e6e6e6;
    -webkit-box-shadow: inset 0 0 10px #666;
    -moz-box-shadow: inset 0 0 10px #666;
    box-shadow: inset 0 0 10px #666;

    padding-bottom: 10px;
    padding-top: 10px;
}

.darkBGRowInner{
    background-color: #e6e6e6;
    content: "";
    display: flex;
    height: 100%;
    width: 100%;
}

.sliderImage {
    width: 100%;
    height: auto;
}

.sliderImageCaption {
    background-color: rgba(0,0,0,0.45);
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 14pt;
    margin-left: 20px;
    padding: 8px;
    position: absolute;
    bottom: 65px;
}

.dotBar {
    background-color: rgba(0,0,0,0.45);
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 52px;
}


.biggerPaddingRow .col:nth-of-type(1) {
    padding-right: 18px;    
}

.biggerPaddingRow .col:nth-of-type(2) {
    padding-left: 18px;    
}

.narrowLIPadding li {
    padding-bottom: 1px;
    padding-top: 1px;
}

#bottomImgText{
    padding: 5px 10px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;

    bottom: 80px;
    display: inline;
    position: absolute;
    right: 10%;
    text-transform:uppercase;
}

.refSubHeader{
    margin-bottom: 0 !important;
    text-transform:uppercase !important;
    padding:0 !important;
    margin-top: 30px !important;
}



#ev2016 .referenciakText, #ev2015 .referenciakText{
    margin: 0;
}